
body,h1,h2,h3{
    margin: 0;
    padding: o;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/* header styles */
header{
    height: 70px;
    display: flex;
    background-color: black;
    justify-content:space-between;
    

}
header ul li #switch{
    height: 30px;
    width: 30px;
    cursor: pointer;
   
}
header #nameLogo{
    color: white;   
    height: 30px; 
    margin-top: 30px;
    margin-left: 20px;
    background-color: red;
    border-radius: 5px;
}
header ul li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
}
header ul li a{
    text-decoration: none;
    color: white;
}
/* begining of section */
section{
    height: 400px;
    border: solid 1px black;
    margin: 0;
}

.cards{
    display:flex;
    justify-content: center;
    height: 350px;
    /* width: 5oopx;    */
}
.left img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
 .left, .right{
    width: 500px;
    height: 350px;
    padding-left: 20px;
}
.right h1{
    font-size: 40px;
    padding-top: 20px;
}
.right h3{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
}

/* footer section */
footer{
    background-color:#151823;
    display: flex;
    width: auto;
    color: white;
}
footer div{
    /* border:1px solid; */
    padding-left: 20px;
}
footer li{
    list-style-type: none;
    line-height: 30px;
}